/*
Descricao: Exercícios da Aula 13 - Elementos Avançados de Formulário
nome_arquivo: estilos.css
nome_exercicio: Atividade 13 - Elementos Avançados de Formulário
nome_aluno: Larah Mônnica de Oliveira Lima
email_aluno: larah.lima@edu.senai.br
turma: TDE-1BAA-26
*/

body {
    margin: 5px;
    background-color: salmon;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.form {
    background-color: white;
    padding: 5px;
    display: flex;
}

.form .form-control {
    width: 100%;
    margin: 5px;
}