* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: #FDF9F5;
    color: #A29E9E;
}

header {
    background-color: #FDF9F5;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.cabecalho img {
    width: 180px;
    height: auto;
}

.icones {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icones img {
    width: 25px;
    height: 25px;
}

nav {
    padding: 18px 60px;
    background-color: #DB5925;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #FDF9F5;
    font-weight: bold;
}

.destaque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.texto-destaque h1 {
    font-family: Syne, sans-serif;
    color: #1D4ED8;
    font-size: 48px;
    line-height: 1.1;
}

.texto-destaque p {
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
    margin: 20px 0;
}

.texto-destaque h1 span {
    color: #DB5925;
}

.botao {
    display: inline-block;
    background-color: #1D4ED8;
    color: #FDF9F5;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: bold;
}

.imagem-destaque {
    width: 45%;
    min-height: 400px;
}

.imagem-destaque img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.beneficios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 60px;
    margin-top: 20px;
}

.beneficio {
    display: flex;
    align-items: center;
    gap: 12px;
}

.beneficio img {
    width: 35px;
    height: 35px;
}

.beneficio h2 {
    font-family: Syne, sans-serif;
    font-size: 18px;
}

.produtos-destaque h2 {
    font-family: Syne, sans-serif;
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.lista-produtos {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 0 60px;
    flex-wrap: wrap;
}

.produto-card {
    width: 220px;
    padding-bottom: 15px;
    text-align: left;
}

.imagem-produto {
    width: 100%;
    height: 250px;
    background-color: #FDF9F5;
    overflow: hidden;
}

.produto-card h3 {
    font-family: Inter, sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.produto-card p {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #1D4ED8;
    margin-top: 5px;
}

footer {
    background-color: #DB5925;
    color: #FDF9F5;
    display: flex;
    justify-content: space-around;
    padding: 40px 60px;
    margin-top: 60px;
}

.links-footer a {
    color: #FDF9F5;
    text-decoration: none;
}

.links-footer ul,
.atendimento-footer ul {
    list-style: none;
    margin-top: 15px;
}

.links-footer li,
.atendimento-footer li {
    margin-bottom: 8px;
}