* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: #FDF9F5;
    color: #1d1d1d;
}

header {
    background-color: #FDF9F5;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.icones {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icones img {
    width: 25px;
    height: 25px;
}

nav {
    padding: 0 60px 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #1D1D1D;
    font-weight: bold;
}

.destaque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.texto-destaque h1 {
    font-family: Syne, sans-serif;
    font-size: 48px;
    line-height: 1.1;
}

.texto-destaque p {
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    max-width: 500px;
    margin: 20px 0;
}