/*
Descricao: Exercícios da Aula 12 - Introdução aos Formulários Web
nome_arquivo: login.css
nome_exercicio: Atividade 12 - Introdução aos Formulários Web
nome_aluno: Larah Mônnica de Oliveira Lima
email_aluno: larah.lima@edu.senai.br
turma: TDE-1BAA-26
*/

body {
    background-color: palevioletred;
    padding: 5px;
    color: gray;
    text-align: center;
}

form {
    margin: auto;
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    text-decoration: underline;
}