/*
Descricao: Exercícios da Aula 08 - Alugramação e posicionamento com divs (opcional)
nome_arquivo: estilo.css
nome_exercicio: Atividade 08 - Alugramação e posicionamento com divs (opcional)
nome_aluno: Larah Mônnica de Oliveira Lima
email_aluno: larah.lima@edu.senai.br
turma: TDE-1BAA-26
*/
