.titulo {
    color: rgb(230, 0, 255);
}

#descricao {
    font-size: 32px;
}

.paragrafo-simples {
    color: rgb(0, 4, 255);
}

nav a {
    color: rgb(0, 255, 0);
}

* {
    margin: 0;
    padding: 0;
}